h1 {
    color:red;
}
h2 {
    color:blue;
}
h3 {
    color: blueviolet;
}
p {
    color: black;
}
.urunler {
    text-align: center;

}
.urunler img {
    display: block;
    width: 500px;
    height: auto;
    margin: 20px auto;
    

}